<%= render'application/sidebar' %>
    <h3>お気に入り一覧</h3>
    <%= current_user.name %>
    <% @favorites.each do |favorite| %>
      <%= link_to topic_path(favorite.topic.id), class:' topic-color','data-turbolinks': false do %>
        <div class ="index_container alert alert-info">
          <p><%= image_tag(favorite.topic.image.to_s) %></p>
          <ul class = "sid_content">
            <li  class="text-break"><%= favorite.user.name %></li>
            <li  class="text-break"><%= favorite.topic.title %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
