<% if current_user.try(:admin?) %>
  <h1>Topics_admin</h1>
<% else %>
  <h1>Topics</h1>
<% end %>
<%= link_to 'ゲストログイン（閲覧用）', topics_guest_sign_in_path, method: :post %>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>image</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.content %></td>
    <td><%= topic.image %></td>
    <td><%= link_to '詳細', topic_path(topic.id) %></td>
    <td><%= link_to '編集', edit_topic_path(topic.id) %></td>
    <td><%= link_to '削除', topic_path(topic.id), method: :delete, data: {confirm: '削除してよろしいですか？'} %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'topic新規作成', new_topic_path %> 