<% if current_user.try(:admin?) %>
  <h1>Topics_admin</h1>
<% else %>
  <h1>Topics</h1>
<% end %>
<%= link_to 'ゲストログイン（閲覧用）', topics_guest_sign_in_path, method: :post %><br>
<table class = "topic_content">
  <%= search_form_for @q do |f| %><br>
    <%= f.label :title_cont, 'タイトルor内容検索' %>
    <%= f.search_field :title_or_content_cont %>
    <%= f.submit '検索' %>
  <% end %>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>image</th>
  </tr>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.content %></td>
    <td><%= image_tag(topic.image.url) if topic.image && topic.image.url %><%#= image_tag topic.image.url %></td>
    <td><%= link_to '詳細', topic_path(topic.id) %></td>
    <td><%= link_to '編集', edit_topic_path(topic.id) %></td>
    <td><%= link_to '削除', topic_path(topic.id), method: :delete, data: {confirm: '削除してよろしいですか？'} %></td>
    <td><% if user_signed_in? %>
      <% unless topic.user_id == current_user.id %>
        <% if current_user.favorites.find_by(topic_id: topic.id).present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: current_user.favorites.find_by(topic_id: topic.id).id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(topic_id: topic.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'topic新規作成', new_topic_path %> 