<%= render'application/sidebar' %>
<h1>Posts#show</h1>
<% unless @topic.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(topic_id: @topic.id), method: :topic, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h3>topic詳細</h3>
<p>投稿者:<%=link_to "#{@topic.user.name}", user_path(@topic.user.id) %></p>
<p>タイトル：<%= @topic.title %></p>
<p>内容：<%= @topic.content %></p>
<p>画像：<%= image_tag @topic.image.url %></p>
<%= link_to '編集', edit_topic_path(@topic) %> 


<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="topic-text">
  </div>
  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
  </div>
<%= link_to '一覧に戻る', topics_path %> 
