<%= render'application/sidebar' %>
<div class="topic_show content">

<h3>Topic詳細</h3>
<div class = "topic_content">
<p><%= image_tag (@topic.image.url)if @topic.image && @topic.image.url %></p>  
<% if current_user.id == @topic.user.id %>
    <%= link_to '編集', edit_topic_path(@topic) %>
  <% end %>
  <div class = "topic_inner">
    <p>投稿者:<%=link_to "#{@topic.user.name}", user_path(@topic.user.id) %></p>
    <p>タイトル：<%= @topic.title %></p>
    <p>内容：<%= @topic.content %></p>
    <% unless @topic.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(topic_id: @topic.id), method: :topic, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="topic-text">
  </div>
  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
  </div>
<%= link_to '一覧に戻る', topics_path %> 
</div>