<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <%= link_to topics_path ,class:"navbar-brand" do%>
      <%#= image_tag asset_path('logo.png'), id:'logo' %>
      Animex
    <% end %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Home", topics_path %></li>
          <li class="nav-item"><%= link_to 'プロフィール', topics_path(current_user.id) %></li>
          <li class="nav-item"><%= link_to 'ログアウト', topics_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to '投稿を見てみる', topics_path %></li>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path %></li>
          <li class="nav-item"><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>